*{
    font-family: 
}


body,
html{
    background-color: rgb(255, 255, 255);
}


#foto{
    border-radius: 50%;
    border-style: circle
    ;
     }

#footer{

    background-color: #e6dfe9fa;
}

.centro{
    display:grid;
    place-items:center;
}

#abas{
    list-style:none;
    padding:0;
}
a:link {
    color: rgb(156, 66, 141);
}

a:visited {
    color: rgb(135, 119, 140)
}

a:hover {
    color: rgb(188, 131, 202);
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid rgb(139, 116, 160);
    padding: 8px;
  }
  
  
  #customers tr:hover {background-color: rgb(162, 113, 163);}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #a01010;
    color: white;
  }
